@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=Poppins:wght@300&display=swap');

.abc {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.login { 
    padding: 50px;
    width: 40%;
    margin-top: 80px;
    height: 500px ;
    border-radius: 48px;
    background-image: url('../../assets/anastas1.png');
    background-repeat: no-repeat;
    color: #ffffff;
    padding-top: 50px;
    
}
input{
    border-radius: 48px;
    height: 55px;
    opacity: 0.5;
    font-size: 18px ;
    color: black;
 
}
.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: 'PT Sans Caption';
}
input::placeholder { 
    color : black ;
    font-size: 18px; 
    margin-left: 10px;
}
.reset { 
    margin-left: 180px;
    margin-top: 15px;
}
.btnregister {
    border-radius: 48px;
    width: 150px ;
    font-size: 20px;
    margin-left: 160px;
    font-weight: bold;
}
.btnregister:hover {
    color: #FFC800;
    background-color: white;

}
.image {
    width: 200px;
    height: 28px ;
    margin-left: 20px;
}

.last {
    margin-top: 50px;
}

a{
    text-decoration: underline;
}