.content{ 
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    margin-top: 70px;
    
    }

.content .container { 

    width: 100%;
    background-image: url('../../assets/fit-young-woman-legs-practicing-yoga-yoga-mat-dark-black-background-copy-space_210545-430.png');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 48px;
    display: flex;

} 